/nbs/plot_utils.py
/nbs/pydrive.ipynb
/results/megan_rapinoe_2019_wc_events.png
/src/matplotlib/__init__.py
/src/matplotlib/default_matplotlib.py
/src/matplotlib/figure_and_axes.py
/src/matplotlib/fonts.py
/src/matplotlib/line_plots.py
/src/matplotlib/without_spine.py
/src/__init__.py
/src/metrics.py
/src/utils.py
/data/wyscout/
